{% load static %}
<link rel="stylesheet" href="{% static 'main/css/register.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% load crispy_forms_tags %}
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<form class="form-detail text-white" method="post">
        <h2>REGISTRASI</h2>
        <a href="/" class="d-flex justify-content-center align-items-center" >
          <img src="http://4.bp.blogspot.com/-FtOrR7FqtEg/Tdufk5MUD9I/AAAAAAAADrE/1FMbaYHMrR8/s320/Kabupaten_Sidoarjo.png" alt="logo_sidoarjo"  height="200" width="225">
		</a><br>
		{% csrf_token %}
				<div id="div_id_username" class="form-group form-group-align"> <label for="id_username" class=" requiredField">
          Nama Pengguna </label> <div class=""> <input type="text" name="username" maxlength="150" autofocus class="textinput textInput form-control" required id="id_username"> <small id="hint_id_username" class="form-text text-white">Diperlukan. 150 karakter atau kurang. Hanya huruf, angka, dan @/./+/-/_ saja</small> </div> </div> 
        <div id="div_id_email" class="form-group form-group-align"> <label for="id_email" class=" requiredField">
          Email </label> <div class=""> <input type="email" name="email" class="emailinput form-control" required id="id_email"> </div> </div> 
        <div id="div_id_first_name" class="form-group form-group-align"> <label for="id_first_name" class=" requiredField">
          Nama Depan </label> <div class=""> <input type="text" name="first_name" maxlength="20" class="textinput textInput form-control" required id="id_first_name"> </div> </div> 
        <div id="div_id_last_name" class="form-group form-group-align"> <label for="id_last_name" class=" requiredField">
          Nama Belakang</label> <div class=""> <input type="text" name="last_name" maxlength="20" class="textinput textInput form-control" required id="id_last_name"> </div> </div> 
        
        <div id="div_id_password1" class="form-group form-group-align"> <label for="id_password1" class=" requiredField">
          Kata Sandi </label> <div class=""> <input type="password" name="password1" autocomplete="new-password" class="textinput textInput form-control" required id="id_password1"> <small id="hint_id_password1" class="form-text text-white"><ul><li>Kata sandi anda tidak boleh mirip dengan informasi pribadi anda.</li><li>Kata sandi anda harus memiliki minimal 8 karakter.</li><li>Jangan menggunakan kata sandi yang sering digunakan.</li><li>Kata sandi anda tidak boleh hanya angka saja.</li></ul></small> </div> </div> 
        <div id="div_id_password2" class="form-group form-group-align"> <label for="id_password2" class=" requiredField">
          Konfirmasi Kata Sandi</label> <div class=""> <input type="password" name="password2" autocomplete="new-password" class="textinput textInput form-control" required id="id_password2"> <small id="hint_id_password2" class="form-text text-white">Masukkan kata sandi anda yang sudah anda masukkan sebelumnya.</small> </div> </div> 
        <br><div style="position:absolute;left: 45%;"><button  type="submit" class="btn btn-primary"><strong>Daftar</strong></button></div>
		<br><br><br>
        <span class="text-white" style="margin-left:70">Jika sudah memiliki akun, silahkan <a href="/login"><strong>Masuk</strong></a> menggunakan akun anda.</span> <br>
			</form>
		</div>
	</div>
</body>